{% extends "dashboard/index.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Módulo de Cifrado de Partituras</h1>
    <p class="text-center">Selecciona una acción:</p>
    <div class="text-center">
        <a href="{% url 'cifrado_musical:cifrar' %}" class="btn btn-primary">Cifrar Partitura</a>
        <a href="{% url 'cifrado_musical:descifrar' %}" class="btn btn-success">Descifrar Partitura</a>
        <a href="{% url 'cifrado_musical:historial' %}" class="btn btn-secondary">Ver Historial</a>
    </div>
</div>
{% endblock %}

