{% extends "dashboard/index.html" %}

{% block content %}
<h2>Cifrar Mensaje</h2>
<form method="POST" action="{% url 'sustitucion:cifrar' %}">
    {% csrf_token %}
    <label for="mensaje">Mensaje:</label><br>
    <textarea name="mensaje" id="mensaje" required></textarea><br>
    <label for="permutacion">Permutacion:</label><br>
    <input type="text" name="permutacion" id="permutacion" required><br><br>
    <button type="submit">Cifrar</button>
</form>

{% if mensaje_cifrado %}
    <p><strong>Mensaje Cifrado:</strong> {{ mensaje_cifrado }}</p>
{% endif %}
{% endblock %}
