{% extends "dashboard/index.html" %}

{% block content %}
<h2>Cifrar Mensaje</h2>
<form method="POST" action="{% url 'afin:cifrar' %}">
    {% csrf_token %}
    <label for="mensaje">Mensaje:</label><br>
    <textarea name="mensaje" id="mensaje" required></textarea><br>
    <label for="clave_a">Clave A:</label><br>
    <input type="text" name="clave_a" id="clave_a" required><br><br>
    <label for="clave_b">Clave B:</label><br>
    <input type="text" name="clave_b" id="clave_b" required><br><br>
    <button type="submit">Cifrar</button>
</form>

{% if mensaje_cifrado %}
    <br>
    <p><strong>Mensaje Cifrado:</strong> {{ mensaje_cifrado }}</p>
    <br>
{% endif %}
{% endblock %}
